Library
Logs
Temp
UserSettings
.idea
.vsconfig
.vscode
.vs/
obj/
*.csproj
*.sln
*.iml

//Wwise
 */Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
 
*.iml
*.idb
*.idb
*.pdb
WwiseTool/WwiseTool/WwiseTool/x64/Debug/vc143.idb
WwiseTool/WwiseTool/WwiseTool/x64/Debug/vc143.pdb
WwiseTool/WwiseTool/WwiseTool/x64/Debug/Wwise.obj
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseTool.log
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseTool.obj
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseTool.tlog/CL.command.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseTool.tlog/CL.read.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseTool.tlog/CL.write.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseTool.tlog/WwiseTool.lastbuildstate
WwiseTool/WwiseTool/WwiseTool/x64/Debug/WwiseToolViewer.obj
WwiseTool/WwiseTool/WwiseTool/x64/Release/vc143.pdb
WwiseTool/WwiseTool/WwiseTool/x64/Release/Wwise.obj
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.exe.recipe
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.iobj
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.ipdb
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.log
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.obj
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/CL.command.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/Cl.items.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/CL.read.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/CL.write.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/link.command.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/link.read.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/link.write.1.tlog
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/unsuccessfulbuild
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseTool.tlog/WwiseTool.lastbuildstate
WwiseTool/WwiseTool/WwiseTool/x64/Release/WwiseToolViewer.obj
*.pdb
/WwiseTool/WwiseTool/WwiseTool/x64
/WwiseTool/WwiseTool/WwiseTool/x64
Assets/WwiseSettings.xml
Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
.plastic/plastic.workspace
.plastic/plastic.wktree
.plastic/plastic.selector
Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset.meta
/Assets/LocalTestForYeniao
