Library
Logs
Temp
UserSettings
.idea
.vsconfig
.vscode
.vs/
obj/
*.csproj
*.sln
*.iml
Assets/Scripts/LocalTest/
Assets/Scripts/LocalTest.meta

//Wwise
 */Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
 